.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 48rem;
  padding: 0 1rem;
  margin: 2rem auto 3rem;
}

.homecontainer {
  flex: 1;
  max-width: 40rem;
  padding: 0 2.5rem;
  margin: 2rem auto 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.returnHome {
  margin: auto auto 0;
  padding-top: 3rem;
  vertical-align: bottom;
}

.links {
  display: none;
}

/* Hide element on Tablet/Phone */
@media only screen and (max-width: 560px) {
  .links {
    margin: auto auto 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
}