.navbar {
  width: 100%;
  max-width: 48rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2.25rem;
}

.navbar ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.navbarItem {
  margin: 0 0.75rem;
}

.social {
  margin: 0 0.75rem 0 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.img {
  width: 1.8rem;
  height: 1.8rem;
}

/* Hide element on Tablet/Phone */
@media only screen and (max-width: 560px) {
  .navbar {
    display: none !important;
  }
}
