/* SANS SERIF */
@font-face {
  font-family: 'CMU Sans Serif';
  src: local('CMU Sans Serif Oblique'), url('./sans-serif/cmunsi-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Sans Serif';
  src: local('CMU Sans Serif Bold Oblique'), url('./sans-serif/cmunso-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Sans Serif';
  src: local('CMU Sans Serif Demi Condensed'), url('./sans-serif/cmunssdc-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Sans Serif';
  src: local('CMU Sans Serif Bold'), url('./sans-serif/cmunsx-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Sans Serif';
  src: local('CMU Sans Serif Medium'), url('./sans-serif/cmunss-webfont.woff') format('woff');
}
