/* TYPEWRITER */
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Light'), url('./typewriter/cmunbtl-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Light Oblique'), url('./typewriter/cmunbto-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Italic'), url('./typewriter/cmunit-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Bold'), url('./typewriter/cmuntb-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Regular'), url('./typewriter/cmuntt-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Bold Italic'), url('./typewriter/cmuntx-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Variable Width Italic'), url('./typewriter/cmunvi-webfont.woff') format('woff');
}
@font-face {
  font-family: 'CMU Typewriter';
  src: local('CMU Typewriter Variable Width Medium'), url('./typewriter/cmunvt-webfont.woff') format('woff');
}