/* COMPUTER MODERN */
/* @import url('../public/fonts/computer-modern/bright.css');
@import url('../public/fonts/computer-modern/concrete.css');
@import url('../public/fonts/computer-modern/sans-serif.css');
@import url('../public/fonts/computer-modern/serif.css');
@import url('../public/fonts/computer-modern/typewriter.css'); */

/* Amatic SC */
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Delius&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); */

/* Source Sans Pro */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); */
/* @import url('../public/fonts/source-pro/source-serif-pro.css'); */

/* Helvetica Neue */
/* @import url('../public/fonts/helvetica-neue/helvetica-neue.css'); */

/* Helvetica */
/* @import url('https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

/* Roboto */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* Nimbus Sans L */
/* @import url('../public/fonts/nimbus-sans/nimbus-sans.css'); */

/* Lato */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */

/* JetBrains Mono */
/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono'); */

/* Merriweather */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); */

/* Montserrat */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* Work Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* Geist Mono */
/* @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* Replace active.css with css properties of the required font combination */
/* Current active font: Work Sans + Geist Mono */
@import url('../public/fonts/active.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.075rem;
}

* {
  box-sizing: border-box;
}

a {
  color: #0077ff;
  text-decoration: none;
}

a:hover {
  color: #52b2f2;
  background-color: #c9eaff;
  border-radius: .175rem;
  transition: color 0.2s ease, background-color 0.2s ease;
}

a:hover img {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

pre, code {
  font-family: 'Geist Mono', monospace;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 92%;
}
pre {
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
}
code {
  padding: .12em .20em;
  border-radius: .375rem;
  line-height: 1.2;
}
pre code {
  all: unset;
}

nav {
  justify-content: space-between;
  font-size: medium;
  font-weight: 500;
}

nav a {
  color: #000;
  margin: 0;
}

footer {
  background-color: #eee;
  text-align: center;
  color: #555;
  font-size: small;
  font-weight: 400;
}

footer a {
  color: #555;
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: #ccc;
  border: 0;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

button:hover {
  background-color: #bbb;
  transition: background-color 0.2s ease;
}

form#contact {
  margin: 1.5rem 0;
}

blockquote {
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
  font-weight: 400;
}

p#li {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 4px;
}

th {
  background: #f8f8f8;
}
